  <section class="cta">
      <div class="container">
        <div class="cta-box">
          <div>
            <h2>¿Querés conocer la propuesta para tu hijo o hija?</h2>
            <p>
              Escribinos por WhatsApp y te contamos cómo trabajamos, qué grupo puede ser el más adecuado
              y toda la información que necesites para dar el primer paso.
            </p>
          </div>

          <div class="cta-actions">
            <a class="btn btn-light" href="https://wa.me/5491124982453" target="_blank">
              Hablar por WhatsApp
            </a>
            <a class="btn btn-outline-light" href="#alumnos">
              Ingreso alumnos
            </a>
          </div>
        </div>
      </div>
    </section>