{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <!-- Logo/imagen -->
        <a class="navbar-brand" href="#">
            <img src="{% static 'boletines_app/img/s.png' %}" 
                 alt="Logo" 
                 class="d-inline-block align-top logo">
        </a>
        
        <!-- Resto de tu navbar... -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'boletin' %}">Mi Boletin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'perfil' %}">Mi Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesión</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>