{% extends 'boletines_app/base.html' %}

{% block content %}
<h2>Boletín {{ trimestre_actual }} - <span class="username">{{ user.first_name }}</span></h2>


<div class="btn-group mb-4">
    {% for t in trimestres %}
    <a href="{% url 'boletin_trimestre' t %}" 
    class="btn {% if t == trimestre_actual %}btn-primary{% else %}btn-outline-primary{% endif %}">
    {{ t }}

    </a>
    {% endfor %}
</div>
<div class="card">
    <div class="card-body">
        <table class="table">
            {% for key, value in boletin.items %}
            <tr>
                <th>
                    {% if key == 'WT' %}
                        <span>Writting Test</span>
                    {% elif key == 'OT' %}
                        <span>Oral Test</span>
                    {% elif key == 'PP' %}
                        <span>Practice Paper</span>
                    {% elif key == 'BE' %}
                        <span>Behaviour</span>
                    {% elif key == 'PIN' %}
                        <span>Participation in Class</span>
                    {% elif key == 'HM' %}
                        <span>Homework</span>
                    {% elif key == 'RP' %}
                        <span>Relationship with partners</span>
                    {% else %}
                        {{ key }}
                    {% endif %}

                </th>
                <td>
                    {% if value == 'exc' %}
                        <span class="badge bg-success">Excelente</span>
                    {% elif value == 'falta' %}
                        <span class="badge bg-warning">Falta</span>
                    {% elif value == '-nohay-' %}
                        <span class="badge bg-secondary">No hay</span>
                    {% elif value == None %}
                        <span class="badge bg-secondary">Sin nota</span>
                    {% else %}
                        {{ value }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}