{% extends "boletines_app/base.html" %}
{% load static %}

{% block content %}

{% include "boletines_app/components/landing_hero.html" %}
{% include "boletines_app/components/landing_propuesta.html" %}
{% include "boletines_app/components/landing_edades.html" %}
{% include "boletines_app/components/landing_beneficios.html" %}
{% include "boletines_app/components/landing_como_funciona.html" %}
{% include "boletines_app/components/landing_contacto.html" %}
{% include "boletines_app/components/landing_cta.html" %}
{% include "boletines_app/components/landing_footer.html" %}
{% include "boletines_app/components/cta_whatsapp.html" %}

{% endblock %}